<h2>New Transaction</h2>

<form [formGroup]='newTransactionForm' #formDirective="ngForm" (ngSubmit)='onSubmit(newTransactionForm.value, formDirective)'>
  <mat-form-field appearance='outline' color='primary' class='categories'>
    <mat-label>Category</mat-label>

    <!-- TODO: allow creation of new categories from here -->
    <mat-chip-list formControlName='category' aria-label='Category' required>
      <mat-chip *ngFor='let cat of categories' [value]='cat.name' [selected]='categorySelected === cat.name' (click)='categoryClick($event, cat)'>{{cat.name}}</mat-chip>
    </mat-chip-list>
    <mat-error *ngIf='category.invalid'>{{getErrorMessage('category')}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance='outline' color='primary' class='subcategories' required>
    <mat-label>{{subcategoryLabelMessage}}</mat-label>

    <!-- TODO: allow creation of new categories from here -->
    <mat-chip-list aria-label='Subcategories' required>
      <mat-chip *ngFor='let subcat of subcategories' [value]='subcat' [selected]='subcategorySelected === subcat.name' (click)='subcategoryClick($event, subcat)'>{{subcat.name}}</mat-chip>
    </mat-chip-list>
    <mat-error *ngIf='subcategory.invalid'>{{getErrorMessage('subcategory')}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance='standard' color='primary'>
    <mat-label>Title</mat-label>
    <input matInput formControlName='title' required>
    <mat-error *ngIf='title.invalid'>{{getErrorMessage('title')}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>When?</mat-label>
    <input matInput [matDatepicker]='picker' formControlName='date' required>
    <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf='date.invalid'>{{getErrorMessage('date')}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput type='number' formControlName='value' required min='0.01'>
    <mat-error *ngIf='value.invalid'>{{getErrorMessage('value')}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance='standard'>
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName='notes'></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button color='primary' type='submit'>Submit</button>
  <p id='message' [ngClass]="{green: messageType === 'success', red: messageType === 'error'}">{{message}}</p>
</form>
